{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'userhome' %}">Dashboard</a>
        <a href="{% url 'segmentation' %}">predict</a>
        <a href="{% url 'userviewfaq' %}">View FAQs</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>